<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rosenhed - Game Designer Generalist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
          
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
            <div class="social-icons">
              <a href="https://www.linkedin.com/in/mikael925/" target="_blank" title="Visit LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="https://Mikael925.itch.io" target="_blank" title="Visit Itch.io">
                <i class="fa-brands fa-itch-io"></i>
              </a>
            </div>
          </div>

          </header>
      </div>
    </div>

    <nav>
  <ul>
      <li><a href="{{ site.baseurl }}/" {% if page.url == "/" %}class="active"{% endif %}>About Me</a></li>
      <li><a href="{{ site.baseurl }}/narrative-design/" {% if page.url == "/narrative-design/" %}class="active"{% endif %}>Narrative Design</a></li>
      <li><a href="{{ site.baseurl }}/level-design/" {% if page.url == "/level-design/" %}class="active"{% endif %}>Level Design</a></li>
      <li><a href="{{ site.baseurl }}/sound-design/" {% if page.url == "/sound-design/" %}class="active"{% endif %}>Sound Design</a></li>
      <li><a href="{{ site.baseurl }}/systems-design/" {% if page.url == "/systems-design/" %}class="active"{% endif %}>Systems Design</a></li>
      <li><a href="{{ site.baseurl }}/generalist/" {% if page.url == "/generalist/" %}class="active"{% endif %}>My Approach</a></li>
  </ul>
</nav>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
